In [11]:
import requests
from bs4 import BeautifulSoup

In [12]:
URL="https://www.psx.com.pk/market-summary/"

html=requests.get(URL)

print(html.status_code)

200

In [13]:
parsed_html=BeautifulSoup(html.text,features="html.parser")

print(parsed_html.prettify()[:500])

<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
   Pakistan Stock Exchange Limited - | Psx | Market Summary
  </title>
  <meta content="PSX provides a reliable, orderly, liquid and efficient digitized market place where investors can buy and sell listed companiesâ€™ common stocks and other securities. For over 60 years, the Exchange has facilitated cap

In [32]:
tables_html=parsed_html.find("div",attrs={"class":"tab-content"})

In [35]:
tables=tables_html.find_all("div",attrs={"class":"table-responsive"})
print(len(tables))

43

In [69]:
print(tables[2].find_all("tr")[1:2])

[<tr>
<td>SCRIP</td>
<td>LDCP</td>
<td>OPEN</td>
<td>HIGH</td>
<td>LOW</td>
<td>CURRENT</td>
<td>CHANGE</td>
<td>VOLUME</td>
</tr>]

In [67]:

rows=[]
#repeat for each table from all tables
for table in tables:
    #this would contain all table_rows for a table 
    table_rows=table.find_all("tr")
    #filter out the excessive rows
    table_rows=table_rows[2:]
    #repeat for each row out of all rows
    for table_row in table_rows:
        #print(table_row.text.strip().split("\n"))
        rows.append(table_row.text.strip().split("\n"))

In [68]:
print(len(rows))

589

In [70]:
import pandas as pd

df=pd.DataFrame(rows,columns=["SCRIP",
"LDCP",
"OPEN",
"HIGH",
"LOW",
"CURRENT",
"CHANGE",
"VOLUME"])

print(df)

                    SCRIP      LDCP    OPEN    HIGH     LOW CURRENT   CHANGE     VOLUME
0       AL-Ghazi Tractors    391.62   390.0  394.88   390.0   393.3     2.13      9,593
1         Atlas Honda Ltd  1,229.99  1230.0  1237.0  1201.0  1221.0    -8.81     12,190
2            Dewan Motors     34.55   34.55   35.85   34.27   35.23     0.61  6,900,298
3    Ghandhara Automobile    578.71   577.5  589.89   575.0  578.89    -0.23    789,716
4          Ghandhara Ind.    802.91   797.0   820.0   796.5   804.0     1.19    453,957
..                    ...       ...     ...     ...     ...     ...      ...        ...
584         Pak Agro Pack     14.50   14.26   14.75   14.26   14.75     0.25      3,500
585     Mughal Energy Ltd     25.32    27.0    27.0    22.8    23.0                 266
586    Nets International     42.71    45.0    45.0    45.0    45.0                  45
587       Supernet Ltd.XB     39.00   40.98   40.98   37.15   39.97    -0.98    119,160
588               Blue-Ex     65.86   60.05    70.0   59.27    70.0     1.39      8,143

[589 rows x 8 columns]

In [72]:
df.to_csv("stocks_PK.csv",index=False)

In [1]:
import pandas as pd

df=pd.read_csv("stocks_PK.csv")

df.head()

                  SCRIP      LDCP     OPEN     HIGH      LOW  CURRENT   CHANGE     VOLUME
0     AL-Ghazi Tractors    391.62   390.00   394.88   390.00   393.30     2.13      9,593
1       Atlas Honda Ltd  1,229.99  1230.00  1237.00  1201.00  1221.00    -8.81     12,190
2          Dewan Motors     34.55    34.55    35.85    34.27    35.23     0.61  6,900,298
3  Ghandhara Automobile    578.71   577.50   589.89   575.00   578.89    -0.23    789,716
4        Ghandhara Ind.    802.91   797.00   820.00   796.50   804.00     1.19    453,957